#top_box {
    width: 100%;
    display: flex;
}
#top_box .logo {
    padding: 0 10px;
    line-height: 60px;
    background: #559acc;
    color: #fff;
}
#top_box .top_menu {
    flex: 1;
}
#top_box .top_menu .el-menu-item,
#top_box .top_menu .el-submenu {
    float: right !important;
}
