#top_box {
    width: 100%;
    display: flex;
    .logo {
        padding: 0 20px;
        line-height: 60px;
        background: #559acc;
        color: #fff;
        small {
            margin-left: 5px;
        }
    }
    .top_menu {
        flex: 1;
    }
}

#top_box .top_menu .el-menu-item,
#top_box .top_menu .el-submenu {
    float: right !important;
}
