#login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefef;
    background-image: url("https://img9.daling.com/zin/public/appsub/2019/08/05/21/33/13/AIMN6X5000000294468.JPEG");
    background-size: cover;
    background-position: center;
}

#login .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 330px;
    transform: translate(-50%, -50%);
    background: #fff;
}
#login .title {
    text-align: center;
    background: #67d3e0;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 40px;
}

#login .content {
    padding: 0 24px;
    text-align: center;
}
#login .content input {
    border-radius: 0;
}
#login .content .el-input {
    margin-bottom: 20px;
}
#login .login_btn {
    width: 100%;
    background-color: #ff6e5c;
    border: none;
    border-radius: 0;
    padding: 15px 0;
}
#login .footer {
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
    color: #999;
}
