#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box {
        margin: 80px 0;
        width: 400px;
    }
    .logo {
        background: #ccc;
        color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .title {
        margin: 20px 0;
        font-size: 24px;
        text-align: center;
    }
    .item {
        margin-bottom: 25px;
    }
    .item-small {
        margin-bottom: 15px;
    }
    .checkbox {
        padding: 0;
        padding-right: 9px;
    }
}
