#config_list {
    margin: 20px 0;
}

#config_list .top_box {
    padding: 20px 10px 0 10px;
    background: #efefef;
}

#config_list .bundle_box {
    margin: 10px 0;
}
#config_list .bundle_footer {
    margin-top: 10px;
    text-align: right;
}
#config_list .list_small {
    font-size: 10px;
}

#config_list .notUse {
    color: #999;
}
#config_list .used {
    color: rgb(0, 144, 24);
}
#config_list .willUpdate {
    color: #bb0000;
}
#config_list .delete {
    color: #efefef;
}
#config_list .task {
    color: #0673ff;
}
#config_list .item_nickname p {
    margin: 0;
}
#config_list .table_img {
    width: 150px;
}
#config_list .state_wait {
    font-size: 10px;
    color: #0673ff;
}
#config_list .state_long {
    font-size: 10px;
    color: #333;
}
#config_list .state_use {
    font-size: 10px;
    color: rgb(6, 48, 146);
}
#config_list .state_none {
    font-size: 10px;
    color: #ccc;
}
