#label_list {
    margin: 20px 0;
}

#label_list .top_box {
    padding: 20px 10px 0 10px;
    background: #efefef;
}

#label_list .bundle_box {
    margin: 10px 0;
}
#label_list .bundle_footer {
    margin-top: 10px;
    text-align: right;
}
#label_list .list_small {
    font-size: 10px;
}
#label_list .not_use {
    background: #ccc;
    color: #fff;
}
